*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
.idea/
/build/
logginghub-utils/build/
logginghub-utils/vl-utils.iml
logginghub.iml
logginghub-utils/logginghub-utils.iml
*/build*/
logginghub-server/logs*
logginghub-server/logdata*
*/target/*
logginghub-frontend/exportData/
logginghub-frontend/data*
logginghub-frontend/images*
logginghub-frontend/lib*
logginghub-frontend/logs*
target/
logginghub-integrationtests/results/
logginghub-server/binarylogs/
logginghub-server/stackTraceHistory/
*.iml
data/
logginghub-visualiser/build logginghub-visualiser/build.gradle logginghub-visualiser/hs_err_pid61406.log logginghub-visualiser/logginghub-visualiser.iml logginghub-visualiser/marketstreamer.txt logginghub-visualiser/shaders logginghub-visualiser/src logginghub-visualiser/stGrid1.png
logginghub-visualiser/
logginghub-server/src/main/resources/logginghubweb/angular/app/visualiser/
logginghub-server/src/main/resources/logginghubweb/angular/app/
