<strong>This is html</strong>
<h1>No really</h1>
<img src="http://pngimg.com/upload/small/snowman_PNG9935.png"/>


Covered
Platform ID:${sequence}
-------------------------------------------------------------------------------------------------------------------------------


>>>Customer/XXXXXX Info<<<
-------------------------------------------------------------------------------------------------------------------------------
Company: ABCDEFDG ABC ABC	 	 	XXXXXX Short Name: ABCDEFGH 	 	 	 	Market:BLOOMBERG
-------------------------------------------------------------------------------------------------------------------------------


>>>RFQ Details<<<
-------------------------------------------------------------------------------------------------------------------------------
Customer:Buy 	 	 	 	 		Instrument: ABC 1.123% 1/12		 	 	 	Competitive Dealers: 3
Status: Covered	 	 	 		 	ISIN: AB0145214522
Trade Date: 2015-12-01 	 	 	 	Quoted Quantity: 1,234,567 Quoted in: EUR
Settlement Date: 2015-12-03  	 	Quote Type: Price
Received Time: 00:00:00 	 	 	Quoted Price: 123.456
Axe:			 	 	 	 	 	Streaming Price: 123.456
-------------------------------------------------------------------------------------------------------------------------------


>>>Instrument Information<<<
-------------------------------------------------------------------------------------------------------------------------------
Sector: GOVT 	 	 	 	 		ISIN: AB0145214522
Issuer Country: ABCDEFG 	 	 	Maturity Date: 2999-99-99
-------------------------------------------------------------------------------------------------------------------------------