<div class="daily calendar" ng-controller="MinutelyController as vm">
    <h1>Minutely</h1>

    <h2>{{vm.hour | zpad : 2}}:{{vm.minute| zpad : 2}} {{vm.day| zpad : 2}}/{{vm.month| zpad : 2}}/{{vm.year}}</h2>

    <h2>Each box represents a one second interval</h2>

    <div class="table noselect">

        <div class="row headings">
        </div>

        <div class="row" ng-repeat="row in vm.result.overall">
            <div class="day cell"
                 ng-repeat="cell in row.cells"
                 ng-class="{today: cell.isNow, selected: cell.isSelected}"
                 ng-click="vm.select(cell)"
                 ng-style="{'background-color':cell.colour, 'color':cell.textcolour}">

                <div class="hour">{{vm.hour | zpad : 2}}:{{vm.minute | zpad : 2}}:{{cell.index | zpad: 2}}</div>
                <div class="total">{{cell.total | number: 0}}</div>
            </div>
        </div>
    </div>

    <div class="controls" ng-if="vm.result">
        <div class="control">
            <label for="independentPatternHeat">Use independent scale for pattern heatmaps</label>
            <input id="independentPatternHeat" type="checkbox" ng-model="vm.independentPatternHeat" ng-click="vm.update()">
        </div>

        <div class="control" ng-if="!vm.independentPatternHeat">
            <label for="useTotalScale">Use total scale for pattern heatmaps</label>
            <input id="useTotalScale" type="checkbox" ng-model="vm.useTotalScale" ng-click="vm.update()">
        </div>
    </div>

    <div ng-repeat="(key, value) in vm.result.patterns" class="small">
        <div class="patternname">{{ vm.result.patternLookup[key]}}</div>
        <div class="table noselect">

            <div class="row headings">
            </div>

            <div class="row" ng-repeat="row in value">
                <div class="day cell"
                     ng-repeat="cell in row.cells"
                     ng-class="{today: cell.isNow, selected: cell.isSelected}"
                     ng-click="vm.select(cell)"
                     ng-style="{'background-color':cell.colour, 'color':cell.textcolour}">

                    <div class="hour">{{vm.hour | zpad : 2}}:{{vm.minute | zpad : 2}}:{{cell.index | zpad: 2}}</div>
                    <div class="total">{{cell.total | number: 0}}</div>
                </div>
            </div>
        </div>
    </div>

    <!--<div>{{vm}}</div>-->
</div>